.container{
    margin: 5em;
}

.comparer-container{
   display: flex;
}

.container button{
    margin-right: 1em;
 }

.comparer{
    border: 1px solid black;
    margin: 1em;
    width: 50%;
    padding: 1em;
}